@{
    ViewBag.Title = "Accueil";
}

<div class="jumbotron">
    <h1>BankAccountsManagementSystem</h1>
    <p class="lead">Bank Accounts Management System est un système simple de gestion de comptes bancaires</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Bank Accounts Management System</h2>
        <p>
            Ce projet a été élaboré durant le cours de <strong>C# et Technologies .NET</strong>.
        </p>
    </div>
    <div class="col-md-6">
        <h2>Contact</h2>
        <h3>Ahmed ABDELKAFI</h3>

        <address>
            13 rue Andre Ampère,<br />
            Residence ERRIADH, <br />
            3éme étage, appartement n°5<br />
            <abbr title="Numéro de teéleéphone">Tél :</abbr>
            (+216) 21 66 95 53 / (+216) 50 66 95 53
        </address>
        <address>
            <strong>Support :</strong>   <a href="mailto:abdelkafiahmed@yahoo.fr">abdelkafiahmed@yahoo.fr</a><br />
        </address>
    </div>
</div>